* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

body{
    background-color:rgb(218, 224, 230);
}

.header {
    margin: 20px;
    padding: 40px;
    text-align: center;
    background-color: white;
    font-family: Cursive;
}

/* navagation */
ul.topnav {
    float: center;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(91, 105, 131);
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active), .dropdown:hover .dropbtn {
    background-color: rgb(29, 53, 75);
}

li.dropdown {
    display: inline-block;
}

.active {
    background-color: #96bdff;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(182, 192, 201);
    min-width: 160px;
    box-shadow: 0 8 16 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding:  12px 16px;
    text-decoration: none;
    display: inline-block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #3c7ec4;}

.dropdown:hover .dropdown-content {
    display: inline-block;
}



/* main content */
h1, h2, h3, h4 {
    color: rgb(31, 31, 31);
    margin: 5p;
    padding-top: 10px; 
}

p {
    margin: 3px;
}

.scroll {
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    width: 400px;
    height: 200px;
    border: 3px solid rgb(59, 119, 215);
    margin: 5px;
}



.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: right;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    margin: 20px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
}

@media screen and (max-width: 100px) {
    ul.topnav a {
        float: none;
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
